<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.ranpers.linkforge.iam.user.adapter.out.persistence.role.UserRoleMapper">

    <insert id="insertByRoleCode">
        INSERT INTO t_user_role (user_id, role_id)
        SELECT #{userId}, role.id
        FROM t_role role
        WHERE role.code = #{roleCode}
    </insert>

</mapper>
